<div id="root"></div>
<div className="Centered">
    <div className="app">
        <script src="https://opiskelija-dashboard.github.io/dashboard/static/js/main.1b214276.js"></script>
    </div>
</div>
</div>
<br></br>